<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<connectionStrings>
		<connectionString add="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\marti\_CodeReviews.Console.Flashcards\DreamFXX.Flashcards\Flashcards_Data.mdf;Integrated Security=True"/>
	</connectionStrings>
	</appSettings>
</configuration>